Arséni Pachkovski <arseni.pachkovski@hotmail.com> <a.pachkovski@hapticmedia.fr>
Cyril Bonnet <bonnet@novembre.com> <c.bonnet@hapticmedia.fr>
Gautier Rollin <rollingautier2@gmail.com> <rollingautier@gmail.com> <g.rolin@hapticmedia.fr>
Guillaume Depouilly <guillaume.depouilly@gmail.com> <g.depouilly@hapticmedia.fr>
Jacob Zak <jagu.sayan@gmail.com> <j.zak@hapticmedia.fr>
Lionel Liebe <vousk@free.fr> <l.liebe@hapticmedia.fr>
Loïc Muhlmann <l.muhlmann@hapticmedia.fr>
Maxime Orlandi <m.orlandi@hapticmedia.fr>
Nicolas Buecher <n.buecher@hapticmedia.fr>
Olivier Sudermann <o.sudermann@hapticmedia.fr>
Pauline Arnoux <a.pauline2606@gmail.com> <p.arnoux@hapticmedia.fr>
Pierre Chanteloup <chanteloup.pierre@gmail.com> <p.chanteloup@hapticmedia.fr>
Pierre Lespingal <pierre.lespingal@gmail.com> <p.lespingal@hapticmedia.fr>
Thomas Huba <thomas.huba@gmail.com> <t.huba@hapticmedia.fr>
Yves Merlicco <merlicco@gmail.com> <y.merlicco@hapticmedia.fr>
